/*
---GRID-AREA---
Instructions
All CSS declarations and media queries in this
file should strictly target the "grid-area" div
and its content in the index.html file.

You're limited to the below stated:
--------------------------
Mandatory declaration
¤ display: grid;                            | Only grid
--------------------------
Permitted media queries
¤ @media screen and (min-width: 768px) {    |
¤ @media screen and (min-width: 1024px) {   |
--------------------------
Permitted properties
¤ display                                   | Only grid
¤ font-weight                               |
¤ grid-area                                 |
¤ grid-gap                                  |
¤ grid-template-areas                       |
¤ grid-template-columns                     |
¤ place-content                             |
--------------------------

Student CSS below the line
-------------------------- */

.grid-area {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.grid-area>* {
    place-content: center;
}


@media screen and (min-width: 768px) {
    .grid-area {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "know area5 area3"
            "area2 you you"
            "area8 grid_area grid_area"
            "area9 grid_area grid_area"
            "area10 area10 area7";
    }
}

@media screen and (min-width: 1024px) {
    .grid-area {

        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        grid-template-areas:
            "area3 grid_area grid_area area5"
            "area2 grid_area grid_area area7"
            "area8 area9 you you"
            "area10 know know know";
    }
}

/* Assign grid areas */
.grid-area> :nth-child(1) {
    grid-area: you;
}

.grid-area> :nth-child(2) {
    grid-area: area2;
}

.grid-area> :nth-child(3) {
    grid-area: area3;
}

.grid-area> :nth-child(4) {
    grid-area: know;
}

.grid-area> :nth-child(5) {
    grid-area: area5;
}

.grid-area> :nth-child(6) {
    grid-area: grid_area;
}

.grid-area> :nth-child(7) {
    grid-area: area7;
}

.grid-area> :nth-child(8) {
    grid-area: area8;
}

.grid-area> :nth-child(9) {
    grid-area: area9;
}

.grid-area> :nth-child(10) {
    grid-area: area10;
}